<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="student.dao.StudentDao">
	<!-- <cache eviction='FIFO' flushInterval='60000' size='512' readOnly='true' /> -->
	<!-- 使用第3方缓存框架EhCache -->
<!--	<cache type="org.mybatis.caches.ehcache.LoggingEhcache">-->
<!--		<property name="timeToIdleSeconds" value="3600" />-->
<!--		<property name="timeToLiveSeconds" value="3600" />-->
<!--		&lt;!&ndash; 同ehcache参数maxElementsInMemory&ndash;&gt;-->
<!--		<property name="maxEntriesLocalHeap" value="1000" />-->
<!--		&lt;!&ndash; 同ehcache参数maxElementsOnDisk &ndash;&gt;-->
<!--		<property name="maxEntriesLocalDisk" value="10000000" />-->
<!--		<property name="memoryStoreEvictionPolicy" value="LRU" />-->
<!--	</cache>-->

	<!-- 查询学生所有记录 useCache="true"-->
	<select id="getAllStudents" resultType="student.pojo.Student"
		>
		select * from student
	</select>
	<!-- 带单个参数查询学生信息 flushCache="true"-->
	<select id="getStudentById" resultType="student.pojo.Student"
		parameterType="int" >
		select * from student where
		id=#{id}
	</select>

	<!-- 带多个参数查询学生信息 -->
	<select id="getStudentsByPage" resultType="student.pojo.Student"
		parameterType="student.pojo.PageIndexer">
		select t.* from
		(select rownum no,id,name,sex,score
		from student) t
		where (t.no&gt;=(#{pageIndex}-1)*#{pageSize}+1) and
		(t.no &lt;=
		#{pageIndex}*#{pageSize})
	</select>


	<!-- 查询学生记录数 -->
	<select id="getCount" resultType="int">
		select count(*) as count from
		student
	</select>

	<!-- 添加学生信息 -->
	<insert id="addStudent" parameterType="student.pojo.Student">
		insert into
		student(id,name,sex,score) values(#{id},#{name},#{sex},#{score})
	</insert>

	<!-- 修改学生信息 -->
	<update id="updateStudent" parameterType="student.pojo.Student">
		update student set
		name=#{name},sex=#{sex},score=#{score}
		where id=#{id}
	</update>

	<!-- 删除学生信息 -->
	<delete id="deleteStudent" parameterType="int">
		delete from student
		where id=#{id}
	</delete>
</mapper>
